h1 {
    text-align: center;
    font-weight: 600;
    text-decoration: gold underline wavy;
    font-family: monospace;
}

h2 {
    color: whitesmoke;
    background-color: rgb(61, 26, 255);
    text-decoration: underline;
}

h3 {
    /* color: blueviolet;*/
    text-decoration: blue overline;
    letter-spacing: 15px;
    font-family: Times;
}

button {
    color: coral;
    background-color: indigo;
    font-size: 30px;
    font-family: Geneva;
}

p {
    color: firebrick;
    background-color: burlywood;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}

a {
    text-decoration: wavy;
    color: aquamarine
}